<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/adjustworkschedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navcont">
<div class="nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li class="drop">
				<a href="#">庫存相關</a>
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/CheckProductInStock/"''>確認現有庫存</li>
						<li onclick='window.location.href="/AddProductPartialTag/"''>新增庫存標籤</li>
						<li onclick='window.location.href="/CheckProductPartialTag/"''>確認產品標籤</li>
						</ul>
					</div>
				</div>
			
			</li>
            <li class="drop">
            	<a href="#">員工資料</a>
            	<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/ShowNewPersonalData_AddMemberData/"''>新增員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyMemberBrandData_ModifyBrandData/"''>顯示員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyUserTokenData_UserTokenData/"''>顯示員工打卡資料</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">排班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Plan_Work_Schedule_MultipleDirectPageToAddEmployeeWorkSchedule/"''>新增員工多天排班</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByList/"''>顯示單月員工排班列表</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_AdjustWorkSchedule/"''>調整員工排班狀況</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">上班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/QR_codeSan_CheckEveryMonthWorkStatus/"''>顯示單月員工上班狀況</li>
						<li onclick='window.location.href="/QR_codeSan_AdjustOnlineStatus/"''>調整員工上班時間</li>
						<li onclick='window.location.href="/PrintMonthSalary_CheckBackupAddLateStatus/"''>顯示單月加班遲到狀況</li>
						</ul>
					</div>
				</div>
			
			</li>
		</ul>
</div>
</div>

	<div class='table'>
	<ul>
		<li>
	      <span> 刪除 </span>
	      <span> 時間碼 </span>
	      <span> 唯一碼 </span>
	      <span> 員工姓名 </span>
	      <span> 品牌名稱 </span>
	      <span> 品牌地點 </span>
	      <span> 年/月/日</span>  
	      <span> 上下班時間</span>  
		</ul>
	</div>   
	<div class='table_second'>
	<% for(var i=0; i<WorkHour.length; i++) {%>
	<ul>
		<li>
		   <span><form action="/Plan_Work_Schedule_DeleteWorkScheduleData/" method="POST">
		   <input type="hidden" placeholder="UniqueID" name="TID" value=<%= WorkHour[i].TID %>>
		   <input type="hidden" placeholder="workyear" name="workyear" value=<%= WorkHour[i].workyear %>>
		   <input type="hidden" placeholder="workmonth" name="workmonth" value=<%= WorkHour[i].workmonth %>>
		   <input type="hidden" placeholder="workday" name="workday" value=<%= WorkHour[i].workday %>>
		      		<button type="submit">刪除</button>
		  </form></span>
		  <span><%= WorkHour[i].TID %></span>
	      <span><%= WorkHour[i].uniID %></span>
	      <span><%= WorkHour[i].name %></span>
	      <span><%= WorkHour[i].userbrandname %></span>
	      <span><%= WorkHour[i].userbrandplace %></span>
	      <span><%= WorkHour[i].workyear %>/<%= WorkHour[i].workmonth %>/<%= WorkHour[i].workday %></span>
	      <span><%= WorkHour[i].onlinehour %>:<%=WorkHour[i].onlineminute %>-<%= WorkHour[i].offlinehour %>:<%=WorkHour[i].offlineminute %></span>
		</li>
	</ul>
	<% } %>
	</div>

</body>
</html>
