<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/WorkSchedule/adjustworkschedule.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<div class='PreAdjustSchedule'>
	<ul>
		<li>
	      <span> 刪除 </span>
	      <span> 時間碼 </span>
	      <span> 唯一碼 </span>
	      <span> 員工姓名 </span>
	      <span> 品牌名稱 </span>
	      <span> 品牌地點 </span>
	      <span> 年/月/日</span>  
	      <span> 上下班時間</span>  
		</ul>
</div>   
<div class='PostAdjustSchedule'>
	<% for(var i=0; i<WorkHour.length; i++) {%>
	<ul>
		<li>
		   <span><form action="/Plan_Work_Schedule_DeleteWorkScheduleData/" method="POST">
		   <input type="hidden" placeholder="UniqueID" name="TID" value=<%= WorkHour[i].TID %>>
		   <input type="hidden" placeholder="workyear" name="workyear" value=<%= WorkHour[i].workyear %>>
		   <input type="hidden" placeholder="workmonth" name="workmonth" value=<%= WorkHour[i].workmonth %>>
		   <input type="hidden" placeholder="workday" name="workday" value=<%= WorkHour[i].workday %>>
		      		<button type="submit">刪除</button>
		  </form></span>
		  <span><%= WorkHour[i].TID %></span>
	      <span><%= WorkHour[i].uniID %></span>
	      <span><%= WorkHour[i].name %></span>
	      <span><%= WorkHour[i].userbrandname %></span>
	      <span><%= WorkHour[i].userbrandplace %></span>
	      <span><%= WorkHour[i].workyear %>/<%= WorkHour[i].workmonth %>/<%= WorkHour[i].workday %></span>
	      <span><%= WorkHour[i].onlinehour %>:<%=WorkHour[i].onlineminute %>-<%= WorkHour[i].offlinehour %>:<%=WorkHour[i].offlineminute %></span>
		</li>
	</ul>
	<% } %>
</div>

</body>
</html>
