<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckBackupScheduleData</title>
  <link href="/css/SyncData/backupcombinemonthschedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>

<div class="CombineMonthScedule">
	<form action="/Sync_ShowCombineMonthSchedule/" method="GET">
		<select name="checkPeriodYear">
			<option selected value="2017">2017</option>
		</select>
		<select name="checkPeriodMonth">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option value="08">08</option>
			<option selected value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<button type="submit">查詢</button>
	</form>	 
</div> 
<div class='PreCombineMonthScedule'>
	<ul>
		<li>
		  <span> 時間碼 </span>
<!-- 	      <span> 唯一碼 </span> -->
	      <span> 品牌職稱 </span>
<!-- 	      <span> 品牌名稱 </span>   -->
<!-- 	      <span> 品牌地點 </span>  -->
	      <span> 姓名 </span> 
	      <span> 日期 </span> 
	      <span> 排班上班 </span> 
	      <span> 排班下班 </span> 
	      <span> 排班上班 </span> 
	      <span> 排班下班 </span>
	      <span> 排班狀況 </span> 
	      <span> 上班狀況 </span> 
	      <span> 是否遲到 </span> 
	      <span> 時數 </span> 
	      <span> 是否加班 </span> 
	      <span> 時數 </span>    
	      <span> 是否請假 </span> 
	      <span> 時數 </span>          
	    </li>
	</ul>
</div>   
<div class='PostCombineMonthScedule'>
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
<!-- 		      <span><%= passvariable[i].uniID %></span> -->
		      <span><%= passvariable[i].userbrandtitle  %></span>
<!-- 		      <span><%= passvariable[i].userbrandname  %></span> -->
<!-- 		      <span><%= passvariable[i].userbrandplace %></span> -->
		      <span><%= passvariable[i].name %></span>
			  <span><%= passvariable[i].workyear%>/<%= passvariable[i].workmonth %>/<%= passvariable[i].workday  %></span>
		      <span><%= passvariable[i].onlinehour %>:<%= passvariable[i].onlineminute %></span>
		      <span><%= passvariable[i].offlinehour %>:<%= passvariable[i].offlineminute %></span> 
		      <span><%= passvariable[i].realonlinehour %>:<%= passvariable[i].realonlineminute %></span>
		      <span><%= passvariable[i].realofflinehour %>:<%= passvariable[i].realofflineminute %></span> 
		      <% if(passvariable[i].shcedulestatus =='排休'){%>
		      <span style="color:red;"><%= passvariable[i].shcedulestatus %></span>
		      <% }else{%>
		      <span><%= passvariable[i].shcedulestatus %></span>
		      <% }%>		
		      <span><%= passvariable[i].realworkstatus %></span>	
			      <% if(passvariable[i].onlinecondition !='正常'){%>	      
			      <span style="color:red;"><%= passvariable[i].onlinecondition %></span>		      	  
			      <span style="color:red;"><%= passvariable[i].onlineconditiontime %></span>
			      <% }else{%>
			      <span><%= passvariable[i].onlinecondition %></span>		      	  
			      <span><%= passvariable[i].onlineconditiontime %></span>
			      <% }%>

			      <% if(passvariable[i].offlinecondition !='正常'){%>
		     	  <span style="color:red;"><%= passvariable[i].offlinecondition %></span>
		     	  <span style="color:red;"><%= passvariable[i].offlineconditiontime %></span>
			      <% }else{%>
			      <span><%= passvariable[i].offlinecondition %></span>
		      	  <span><%= passvariable[i].offlineconditiontime %></span>
			      <% }%>
		      <span><%= passvariable[i].restcondition %></span>
		      <span><%= passvariable[i].restconditiontime %></span>		      		      		      		      		          
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>