<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckBackupScheduleData</title>
  <link href="/css/SyncData/backupcombinemonthschedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>

<div class="CombineMonthScedule">
	<form action="/Sync_ShowCombineMonthSchedule/" method="GET">
		<select name="checkPeriodYear">
			<option selected value=<%= year %>><%= year %></option>
			<%  for(var i=-1; i<3; i++) {%>
			<option value=<%= parseInt(year,10)+i %>><%= parseInt(year,10)+i %></option>
			<% } %>
		</select>
		<select name="checkPeriodMonth">
			<% if(month<10){ month = '0'+month; } %>
			<option selected value=<%= month %>><%= month %></option>
			<%  for(var i=1; i<13; i++) {%>
			<%  if(i<10){ i = '0'+i; } %>
			<option value=<%= i %>><%= i %></option>
			<% } %>
		</select>
		<button type="submit">查詢</button>
	</form>	 
</div> 
<div class='PreCombineMonthScedule'>
	<ul>
		<li>
		  <span> 時間碼 </span>
<!-- 	      <span> 唯一碼 </span> -->
	      <span> 品牌職稱 </span>
<!-- 	      <span> 品牌名稱 </span>   -->
<!-- 	      <span> 品牌地點 </span>  -->
	      <span> 姓名 </span> 
	      <span> 日期 </span> 
	      <span> 排班上班 </span> 
	      <span> 排班下班 </span> 
	      <span> 真實上班 </span> 
	      <span> 真實下班 </span>
	      <span> 預期排班 </span> 
	      <span> 上班狀況 </span> 
	      <span> 是否遲到 </span> 
	      <span> 時數 </span> 
	      <span> 是否加班 </span> 
	      <span> 時數 </span>    
<!-- 	      <span> 是否請假 </span> 
	      <span> 時數 </span>           -->
	      <span> 更新 </span> 
	    </li>
	</ul>
</div>   
<div class='PostCombineMonthScedule'>
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
<!-- 		      <span><%= passvariable[i].uniID %></span> -->
		      <span><%= passvariable[i].userbrandtitle  %></span>
<!-- 		      <span><%= passvariable[i].userbrandname  %></span> -->
<!-- 		      <span><%= passvariable[i].userbrandplace %></span> -->
		      <span><%= passvariable[i].name %></span>
			  <span><%= passvariable[i].workyear%>/<%= passvariable[i].workmonth %>/<%= passvariable[i].workday  %></span>
		      <span><%= passvariable[i].onlinehour %>:<%= passvariable[i].onlineminute %></span>
		      <span><%= passvariable[i].offlinehour %>:<%= passvariable[i].offlineminute %></span> 
		      <span><%= passvariable[i].realonlinehour %>:<%= passvariable[i].realonlineminute %></span>
		      <span><%= passvariable[i].realofflinehour %>:<%= passvariable[i].realofflineminute %></span> 
		      <% if(passvariable[i].shcedulestatus =='排休'){%>
		      <span style="color:red;"><%= passvariable[i].shcedulestatus %></span>
		      <% }else{%>
		      <span><%= passvariable[i].shcedulestatus %></span>
		      <% }%>		
		      <% if(passvariable[i].realworkstatus =='正常' || passvariable[i].realworkstatus =='尚未到職'){%>
		      <span><%= passvariable[i].realworkstatus %></span>
		      <% }else{%>	
		      <span style="color:red;"><%= passvariable[i].realworkstatus %></span>
		       <% }%>	
			      <% if(passvariable[i].onlinecondition !='正常'){%>	      
			      <span style="color:red;"><%= passvariable[i].onlinecondition %></span>		      	  
			      <span style="color:red;"><%= passvariable[i].onlineconditiontime %></span>
			      <% }else{%>
			      <span><%= passvariable[i].onlinecondition %></span>		      	  
			      <span><%= passvariable[i].onlineconditiontime %></span>
			      <% }%>

			      <% if(passvariable[i].offlinecondition !='正常'){%>
		     	  <span style="color:red;"><%= passvariable[i].offlinecondition %></span>
		     	  <span style="color:red;"><%= passvariable[i].offlineconditiontime %></span>
			      <% }else{%>
			      <span><%= passvariable[i].offlinecondition %></span>
		      	  <span><%= passvariable[i].offlineconditiontime %></span>
			      <% }%>
<!-- 		      <span><%= passvariable[i].restcondition %></span>
		      <span><%= passvariable[i].restconditiontime %></span>	 -->	      		      		      		      		 
			      <span>
			      	  <form action="/Sync_UpdateShowCombineMonthSchedule/" method="GET">
			      	  <input type="hidden" placeholder="TID" name="TID" value=<%= passvariable[i].TID %>>
			      	  <input type="hidden" placeholder="workyear" name="workyear" value=<%= passvariable[i].workyear %>>
			      	  <input type="hidden" placeholder="workmonth" name="workmonth" value=<%= passvariable[i].workmonth %>>
			      	  <input type="hidden" placeholder="UniqueID" name="uniID" value=<%= passvariable[i].uniID %>>
				      <input type="hidden" placeholder="name" name="name" value=<%= passvariable[i].name %>>	      
				      <select name="updaterealworkstatus">
				      <option value="正常補打卡">正常補打卡</option><option value="假日半小時">假日半小時</option>
				      <option value="假日一小時">假日一小時</option><option value="假日一個半小時">假日一個半小時</option>
				      <option value="補打卡/半小時">補打卡/半小時</option><option value="補打卡/一小時">補打卡/一小時</option>
				      <option value="補打卡/一個半小時">補打卡/一個半小時</option><option value="尚未到職">尚未到職</option>
					  <option value="病假">病假</option><option value="曠職">曠職</option>
					 

				      </select>
				      <button type="submit">更新</button>
				      </form>
				  </span>
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>