<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckEveryMonthWorkStatus</title>
  <link href="/css/SyncData/backupcheckeverymonthworkstatus.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>

<div class="BackupMonthWorkStatus">
	<form action="/Backup_CheckOriginDataByDay/" method="GET">
		<select name="checkPeriodYear">
			<option selected value="2017">2017</option>
		</select>
		<select name="checkPeriodMonth">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option selected value="08">08</option>
			<option value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<select name="checkName">
		<%  for(var i=0; i<member.length; i++) {%>
			<option value=<%= member[i].name %>><%= member[i].name %></option>
		<% } %>
			<option selected value="全部">全部</option>
		</select>
		<button type="submit">查詢</button>
	</form>	 
</div> 
<div class='PreBackupMonthWorkStatus'>
	<ul>
		<li>
		  <span> 唯一碼 </span>
	      <span> 員工姓名 </span>
	      <span> 打卡日期 </span>  
	      <span> 打卡時間 </span> 
	      <span> 打卡狀態 </span> 
	      <span> 上下班檢查 </span> 
	      <span> 計算上下班狀態 </span>
	      <span> 重覆檢查 </span> 
	      <span> 檢查 </span> 
	    </li>
	</ul>
</div>   
<div class='PostBackupMonthWorkStatus'>
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
		      <span><%= passvariable[i].name %></span>
		      <span><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></span>
		      <span><%= passvariable[i].Hour +':'+ passvariable[i].Minute %></span>
		      <span><%= passvariable[i].status %></span>
		      <%  var onofflineCompare = '' ;var duplicateCheck = 0; 
				  for(var j=0; j<passvariable.length; j++) {

		      			if( (passvariable[i].Day == passvariable[j].Day) && (passvariable[i].Month == passvariable[j].Month) && (passvariable[i].Year == passvariable[j].Year) && (passvariable[i].name == passvariable[j].name) )
		      			{
		      				if(passvariable[i].status != passvariable[j].status)
		      				{
		      					duplicateCheck = duplicateCheck + 1;
		      					onofflineCompare = '正常' ;
		      					
		      				}

		      			}
		      	  }
		      %>
		      <span><%= onofflineCompare %></span>
		      <span><%= passvariable[i].SalaryCountStatus %></span>
		      <span><%= duplicateCheck %></span>
		      <span><%= i %></span>
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>