<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckMonthSalary</title>
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<form action="/Sync_ShowMonthSalary/" method="GET">
		<select name="checkPeriodYear">
			<option selected value="2017">2017</option>
		</select>
		<select name="checkPeriodMonth">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option selected value="08">08</option>
			<option value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<select name="checkName">
		<%  for(var i=0; i<member.length; i++) {%>
			<option value=<%= member[i].name %>><%= member[i].name %></option>
		<% } %>
			<option selected value="全部">全部</option>
		</select>
		<button type="submit">查詢</button>
	</form>	
	<br> 
	<table border='1'>
	<tbody>
		  <td> 唯一碼 </td>
		  <td> 員工碼 </td>
	      <td> 員工姓名 </td>
	      <td> 計薪年份 </td>
	      <td> 計薪月份 </td>
	      <td> 品牌名稱 </td>
	      <td> 計薪天數 </td> 

	      <td> 基本底薪 </td> 
	      <td> 伙食獎金 </td>
	      <td> 全勤獎金 </td>  
	      <td> 職位獎金 </td>  
	      <td> 額外獎金 </td>
	      <td> 勞健保費 </td>
	      <td> 基本薪資 </td> 

	      <td> 加班分鐘 </td>
	      <td> 加班薪水 </td>
	      <td> 遲到分鐘 </td>
	      <td> 遲到薪水 </td>
	      <td> 早退分鐘 </td>
	      <td> 早退薪水 </td>
	      <td> 請假分鐘 </td>
	      <td> 請假薪水 </td>
	      <td> 合計薪資 </td> 	
    
	<%  for(var i=0; i<passvariable.length; i++) {%>
		<tr>
			  <td><%= passvariable[i].TID %></td>
			  <td><%= passvariable[i].uniID %></td>
		      <td><%= passvariable[i].name %></td>
		      <td><%= passvariable[i].year %></td>
		      <td><%= passvariable[i].month %></td>
		      <td><%= passvariable[i].userbrandname %></td>
		      <td><%= passvariable[i].workdaynumber %></td>
		      
		      <td><%= passvariable[i].monthsalary  %></td>
		      <td><%= passvariable[i].foodsalary %></td>
		      <td><%= passvariable[i].withoutsalary %></td>
		      <td><%= passvariable[i].titlesalary %></td>
		      <td><%= passvariable[i].extrasalary %></td>
		      <td><%= passvariable[i].lawsalary %></td>
			  <td><%= passvariable[i].basicsalary %></td>

		      <td><%= passvariable[i].addminute %></td>
		      <td><%= passvariable[i].addtimesalary %></td>
		      <td><%= passvariable[i].lateminute %></td>
		      <td><%= passvariable[i].latetimesalary %></td>
		      <td><%= passvariable[i].earlyminute %></td>
		      <td><%= passvariable[i].earlytimesalary %></td>
		      <td><%= passvariable[i].restminute %></td>
		      <td><%= passvariable[i].resttimesalary %></td>	      
		      <td><%= passvariable[i].totalmonthsalary %></td>
		</tr>
	<% } %>
	</tbody>
	</table>

</body>
</html>