<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>確認單月薪水</title>
  <link href="/css/SyncData/backupaftersyncmonthsalary.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<div class="SyncMonthSalary">
	<form action="/Sync_ShowMonthSalary/" method="GET">
		<select name="checkPeriodYear">
			<option selected value="2017">2017</option>
		</select>
		<select name="checkPeriodMonth">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option selected value="08">08</option>
			<option value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<select name="checkName">
		<%  for(var i=0; i<member.length; i++) {%>
			<option value=<%= member[i].name %>><%= member[i].name %></option>
		<% } %>
			<option selected value="全部">全部</option>
		</select>
		<button type="submit">查詢</button>
	</form>	
</div>
<div class='PreSyncMonthSalary'>
	<ul>
		<li>
		  <span> 唯一碼 </span>
		  <span> 員工碼 </span>
	      <span> 員工姓名 </span>
	      <span> 計薪年份 </span>
	      <span> 計薪月份 </span>
	      <span> 品牌名稱 </span>
	      <span> 計薪天數 </span> 

<!-- 	      <span> 基本底薪 </span> 
	      <span> 伙食獎金 </span>
	      <span> 全勤獎金 </span>  
	      <span> 職位獎金 </span>  
	      <span> 額外獎金 </span>
	      <span> 勞健保費 </span> -->
	      <span> 基本薪資 </span> 

	      <span> 加班分鐘 </span>
	      <span> 加班薪水 </span>
	      <span> 遲到分鐘 </span>
	      <span> 遲到薪水 </span>
	      <span> 早退分鐘 </span>
	      <span> 早退薪水 </span>
	      <span> 請假分鐘 </span>
	      <span> 請假薪水 </span>
	      <span> 合計薪資 </span> 	
		</li>
	</ul>
</div>   
<div class='PostSyncMonthSalary'>
	<% for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
			  <span><%= passvariable[i].uniID %></span>
		      <span><%= passvariable[i].name %></span>
		      <span><%= passvariable[i].year %></span>
		      <span><%= passvariable[i].month %></span>
		      <span><%= passvariable[i].userbrandname %></span>
		      <span><%= passvariable[i].workdaynumber %></span>
		      
<!-- 		      <span><%= passvariable[i].monthsalary  %></span>
		      <span><%= passvariable[i].foodsalary %></span>
		      <span><%= passvariable[i].withoutsalary %></span>
		      <span><%= passvariable[i].titlesalary %></span>
		      <span><%= passvariable[i].extrasalary %></span>
		      <span><%= passvariable[i].lawsalary %></span> -->
			  <span><%= passvariable[i].basicsalary %></span>

		      <span><%= passvariable[i].addminute %></span>
		      <span><%= passvariable[i].addtimesalary %></span>
		      <span><%= passvariable[i].lateminute %></span>
		      <span><%= passvariable[i].latetimesalary %></span>
		      <span><%= passvariable[i].earlyminute %></span>
		      <span><%= passvariable[i].earlytimesalary %></span>
		      <span><%= passvariable[i].restminute %></span>
		      <span><%= passvariable[i].resttimesalary %></span>	      
		      <span><%= passvariable[i].totalmonthsalary %></span>
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>