<!DOCTYPE html>
<html lang="en">
<head>
  <title>確認庫存狀況</title>
  <meta charset="UTF-8">
  <link href="/css/StockInAndOut/checkproductinstock.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<div class="CheckStock">
	<form action="/CheckProductInStock/" method="GET">
		<select name="checkPeriodYear" id="year">
			<option selected value=<%= year %>><%= year %></option>
			<%  for(var i=0; i<3; i++) {%>
			<option value=<%= parseInt(year,10)+i %>><%= parseInt(year,10)+i %></option>
			<% } %>
		</select>
		<select name="checkPeriodMonth" id="month">
			<option selected value=<%= month %>><%= month %></option>
			<%  for(var i=1; i<13; i++) {%>
			<%  if(i<10){ i = '0'+i; } %>
			<option value=<%= i %>><%= i %></option>
			<% } %>
		</select>
		<select name="checkPeriodDay">
			<option selected value=<%= day %>><%= day %></option>
			<%  for(var i=1; i<daysnumber+1; i++) {%>
			<%  if(i<10){ i = '0'+i; } %>
			<option value=<%= i %>><%= i %></option>
			<% } %>
		</select>
		<select name="checkType" id="type">
			<option selected value="單日" >單日</option>
			<option value="全部" >全部</option>
			<option value="入庫" >入庫</option>
			<option value="出庫" >出庫</option>
		</select>
		<button type="submit">查詢</button>
	</form>	 
</div>

<div class='PreStockIn'>
	<ul>
		<li>
	      	<span> 刪除 </span>
	      	<span> 時間碼 </span>
<!-- 	      	<span> 品牌名稱 </span> -->
	      	<span> 編號 </span>
	      	<span> 名稱 </span>
<!-- 	      	<span> 標籤 </span>  
	      	<span> 分類 </span>  
	     	<span> 細項 </span>  
	     	<span> 等級 </span>  --> 
	  	  	<span> 狀態 </span> 
	  	  	<span> 入庫日期 </span>
	  	  	<span> 入庫時間 </span> 
	  	  	<span> 出庫日期 </span>
	  	  	<span> 出庫時間 </span> 	  	
		</li>
	</ul>
</div>   
<div class='PostStockIn'>
	<% for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
		   <span><form action="/DeleteProductInStock/" method="POST">
		   	<input type="hidden" placeholder="productnumber" name="productnumber" value=<%= passvariable[i].productnumber %>>
		    <button type="submit">刪除</button>
		  </form></span>
		  <span><%= passvariable[i].TID %></span>
<!-- 		  <span><%= passvariable[i].brandname %></span> -->
	      <span><%= passvariable[i].productnumber %></span>
	      <span><%= passvariable[i].product %></span>
<!-- 	      <span><%= passvariable[i].tag %></span>
	      <span><%= passvariable[i].class %></span>
	      <span><%= passvariable[i].subclass %></span>
	      <span><%= passvariable[i].grade %></span> -->
	      <% if(passvariable[i].status =='出庫'){%>
	      <span style="color:red;"><%= passvariable[i].status %></span>
	      <% }else{%>
	      <span><%= passvariable[i].status %></span>
	      <% }%>
	      <span><%= passvariable[i].instockdate %></span> 
		  <span><%= passvariable[i].instocktime %></span>
	      <span><%= passvariable[i].outstockdate %></span> 
		  <span><%= passvariable[i].outstocktime %></span>  	  
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>
