<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckAddLateBackupStatus</title>
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<form action="/PrintMonthSalary_CheckBackupAddLateStatus/" method="POST">
		<select name="checkName">
			<option value="陳柏農">陳柏農</option>
			<option value="林祐華">林祐華</option>
			<option value="張雅筑">張雅筑</option>
			<option value="柯怡玲">柯怡玲</option>
			<option value="郭政一">郭政一</option>
			<option value="謝雅玲">謝雅玲</option>
			<option value="盧亞暄">盧亞暄</option>
			<option value="羅鈺晴">羅鈺晴</option>
			<option value="倪銘鴻">倪銘鴻</option>
			<option value="羅怡聘">羅怡聘</option>
			<option value="孫珮寧">孫珮寧</option>
			<option value="林雨涵">林雨涵</option>
			<option value="彭鈺婷">彭鈺婷</option>
			<option value="陳妙蓮">陳妙蓮</option>
			<option value="謝靜嫻">謝靜嫻</option>
			<option value="陳彩妮">陳彩妮</option>
			<option value="范袁昊">范袁昊</option>
			<option value="張嘉庭">張嘉庭</option>
			<option selected value="全部">全部</option>
		</select>
		<select name="checkPeriodYear">
			<option value="2016">2016</option><option selected value="2017">2017</option>
		</select>
		年
		<select name="checkPeriodMonth">
			<option value="01">1</option><option  value="02">2</option>
			<option value="03">3</option><option  value="04">4</option>
			<option value="05">5</option><option  value="06">6</option>
			<option value="07">7</option><option  value="08">8</option>
			<option selected value="09">9</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		月
		<button type="submit">查詢資料</button>
	</form>	 
	<br> 
	<table border='1'>
	<tbody>
		  <td> 唯一碼 </td>
		  <td> 員工碼 </td>
	      <td> 員工姓名 </td>
	      <td> 日期 </td>  
	      <td> 排班時間 </td> 
	      <td> 上班時間 </td> 
	      <td> 加班時數 </td> 
	      <td> 遲到時數 </td> 
	      <td> 計薪確認 </td> 	
	      <td> 比數 </td> 
	<%  var index=0;%>     	      	      
	<%  for(var i=0; i<passvariable.length; i++) {%>
		<tr>
			  <td><%= passvariable[i].TID %></td>
			  <td><%= passvariable[i].uniID %></td>
		      <td><%= passvariable[i].name %></td>
		      <td><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></td>
		      <td><%= passvariable[i].onlinehour +':'+ passvariable[i].onlineminute+'-'+passvariable[i].offlinehour +':'+ passvariable[i].offlineminute %></td>
		      <td><%= passvariable[i].realonlinehour +':'+ passvariable[i].realonlineminute+'-'+ passvariable[i].realofflinehour +':'+ passvariable[i].realofflineminute%></td>
		      <td><%= passvariable[i].addtime %></td>
		      <td><%= passvariable[i].latetime %></td>
		      <td><%= passvariable[i].countcheck %></td>
		      <%
		      	  if(i>=1)
		      	  {
			      	  if(passvariable[i-1].name == passvariable[i].name)
			      	  {
			      	  	index=index+1;
			      	  }
			      	  else
			      	  {
			      	  	index =1;
			      	  }
		      	  }
		      	  else{index =1;}
		      %>
		      <td> <%= index %> </td> 
		</tr>
	<% } %>
	      
	</tbody>
	</table>

</body>
</html>