<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckProductInStock</title>
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<table border='1'>
	<tbody>
	      <td> 刪除 </td>
	      <td> 時間碼 </td>
	      <td> 品牌名稱 </td>
	      <td> 產品編號 </td>
	      <td> 產品名稱 </td>
	      <td> 產品標籤 </td>  
	      <td> 產品分類 </td>  
	      <td> 產品細項 </td>  
	      <td> 產品等級 </td>  
	  	  <td> 產品狀態 </td> 
	  	  <td> 入庫日期 </td>
	  	  <td> 入庫時間 </td> 
	  	  <td> 出庫日期 </td>
	  	  <td> 出庫時間 </td>   
	<% for(var i=0; i<passvariable.length; i++) {%>
		<tr>
		   <td><form action="/DeleteProductInStock/" method="POST">
		   	<input type="hidden" placeholder="productnumber" name="productnumber" value=<%= passvariable[i].productnumber %>>
		    <button type="submit">刪除</button>
		  </form></td>
		  <td><%= passvariable[i].TID %></td>
		  <td><%= passvariable[i].brandname %></td>
	      <td><%= passvariable[i].productnumber %></td>
	      <td><%= passvariable[i].product %></td>
	      <td><%= passvariable[i].tag %></td>
	      <td><%= passvariable[i].class %></td>
	      <td><%= passvariable[i].subclass %></td>
	      <td><%= passvariable[i].grade %></td>
	      <td><%= passvariable[i].status %></td>
	      <td><%= passvariable[i].instockdate %></td> 
		  <td><%= passvariable[i].instocktime %></td>
	      <td><%= passvariable[i].outstockdate %></td> 
		  <td><%= passvariable[i].outstocktime %></td>  	      
	  <% } %>
	</tr>
	</tbody>
	</table>

</body>
</html>
