<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckAddLateBackupStatus</title>
  <link href="/css/WorkStatus/checkaddlatetimebackupstatus.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>

<div class="CheckAddLate">
		<form action="/PrintMonthSalary_CheckBackupAddLateStatus/" method="GET">
			<select name="checkPeriodYear">
				<option value="2016">2016</option><option selected value="2017">2017</option>
			</select>
			<select name="checkPeriodMonth">
				<option value="01">1</option><option  value="02">2</option>
				<option value="03">3</option><option  value="04">4</option>
				<option value="05">5</option><option  value="06">6</option>
				<option value="07">7</option><option  value="08">8</option>
				<option selected value="09">9</option><option  value="10">10</option>
				<option value="11">11</option><option  value="12">12</option>
			</select>
			<select name="checkName">
			<%  for(var i=0; i<member.length; i++) {%>
				<option value=<%= member[i].name %>><%= member[i].name %></option>
			<% } %>
				<option selected value="全部">全部</option>
			</select>
			<button type="submit">查詢資料</button>
		</form>	
</div> 
<div class='PreCheckAddLate'>
	<ul>
		<li>
		  <span> 唯一碼 </span>
		  <span> 員工碼 </span>
	      <span> 員工姓名 </span>
	      <span> 日期 </span>  
	      <span> 排班時間 </span> 
	      <span> 上班時間 </span> 
	      <span> 加班時數 </span> 
	      <span> 遲到時數 </span> 
	      <span> 計薪確認 </span> 	
	      <span> 比數 </span> 
	    </li>
	</ul>
	</div>   
	<div class='PostCheckAddLate'>
	<%  var index=0;%>     	      	      
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
			  <span><%= passvariable[i].uniID %></span>
		      <span><%= passvariable[i].name %></span>
		      <span><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></span>
		      <span><%= passvariable[i].onlinehour +':'+ passvariable[i].onlineminute+'-'+passvariable[i].offlinehour +':'+ passvariable[i].offlineminute %></span>
		      <span><%= passvariable[i].realonlinehour +':'+ passvariable[i].realonlineminute+'-'+ passvariable[i].realofflinehour +':'+ passvariable[i].realofflineminute%></span>
		      <span><%= passvariable[i].addtime %></span>
		      <span><%= passvariable[i].latetime %></span>
		      <span><%= passvariable[i].countcheck %></span>
		      <%
		      	  if(i>=1)
		      	  {
			      	  if(passvariable[i-1].name == passvariable[i].name)
			      	  {
			      	  	index=index+1;
			      	  }
			      	  else
			      	  {
			      	  	index =1;
			      	  }
		      	  }
		      	  else{index =1;}
		      %>
		      <span> <%= index %> </span> 
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>