<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckEveryMonthWorkStatus</title>
</head>
<body>

	<form action="/QR_codeSan_CheckEveryMonthWorkStatus/" method="GET">
		<select name="checkPeriodYear">
			<option selected value="2017">2017</option>
		</select>
		<select name="checkPeriodMonth">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option selected value="08">08</option>
			<option value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<select name="checkName">
			<option value="陳柏農">陳柏農</option>
			<option value="林祐華">林祐華</option>
			<option value="張雅筑">張雅筑</option>
			<option value="柯怡玲">柯怡玲</option>
			<option value="郭政一">郭政一</option>
			<option value="謝雅玲">謝雅玲</option>
			<option value="盧亞暄">盧亞暄</option>
			<option value="羅鈺晴">羅鈺晴</option>
			<option value="倪銘鴻">倪銘鴻</option>
			<option value="羅怡聘">羅怡聘</option>
			<option value="孫珮寧">孫珮寧</option>
			<option value="林雨涵">林雨涵</option>
			<option value="彭鈺婷">彭鈺婷</option>
			<option value="陳妙蓮">陳妙蓮</option>
			<option value="謝靜嫻">謝靜嫻</option>
			<option value="陳彩妮">陳彩妮</option>
			<option value="范袁昊">范袁昊</option>
			<option value="張嘉庭">張嘉庭</option>
			
			<option selected value="全部">全部</option>s
		</select>
		<button type="submit">查詢</button>
	</form>	 
	<br>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<table border='1'>
	<tbody>
		  <td> 刪除 </td>
		  <td> 唯一碼 </td>
	      <td> 員工姓名 </td>
	      <td> 打卡日期 </td>  
	      <td> 打卡時間 </td> 
	      <td> 打卡狀態 </td> 
	      <td> 上下班檢查 </td> 
	      <td> 計算上下班狀態 </td>
	      <td> 重覆檢查 </td> 
	      <td> 比數 </td> 
	<%  var index=0;%>
	<%	for(var i=0; i<passvariable.length; i++) {%>
		<tr>
		   <td><form action="/QR_codeScan_DeleteOnlineOfflineDate/" method="POST">
		   	<input type="hidden" placeholder="name" name="name" value=<%= passvariable[i].name %>>
		    <input type="hidden" placeholder="UniqueID" name="TID" value=<%= passvariable[i].TID %>>
		    <input type="hidden" placeholder="Year" name="Year" value=<%= passvariable[i].Year %>>
		    <input type="hidden" placeholder="Month" name="Month" value=<%= passvariable[i].Month %>>
		    <input type="hidden" placeholder="Day" name="Day" value=<%= passvariable[i].Day %>>
		    <button type="submit">刪除</button>
		  </form></td>
			  <td><%= passvariable[i].TID %></td>
		      <td><%= passvariable[i].name %></td>
		      <td><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></td>
		      <td><%= passvariable[i].Hour +':'+ passvariable[i].Minute %></td>
		      <td><%= passvariable[i].status %></td>
		      <%  var onofflineCompare = '' ;var duplicateCheck = 0; 
				  for(var j=0; j<passvariable.length; j++) {

		      			if( (passvariable[i].Day == passvariable[j].Day) && (passvariable[i].Month == passvariable[j].Month) && (passvariable[i].Year == passvariable[j].Year) && (passvariable[i].name == passvariable[j].name) )
		      			{
		      				if(passvariable[i].status != passvariable[j].status)
		      				{
		      					duplicateCheck = duplicateCheck + 1;
		      					onofflineCompare = '正常' ;
		      					
		      				}

		      			}
		      	  }
		      	  if(i>=1)
		      	  {
			      	  if(passvariable[i-1].name == passvariable[i].name)
			      	  {
			      	  	index=index+1;
			      	  }
			      	  else
			      	  {
			      	  	index =1;
			      	  }
		      	  }
		      	  else{index =1;}
		 
		      %>
		      <td><%= onofflineCompare %></td>
		      <td><%= passvariable[i].SalaryCountStatus %></td>
		      <td><%= duplicateCheck %></td>
		      <td><%= index %> </td> 

		</tr>
	<% } %>

	</tbody>
	</table>

</body>
</html>