<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckAddLateBackupStatus</title>
  <link href="/css/checkaddlatetimebackupstatus.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navcont">
<div class="nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li class="drop">
				<a href="#">庫存相關</a>
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/CheckProductInStock/"''>確認現有庫存</li>
						<li onclick='window.location.href="/AddProductPartialTag/"''>新增庫存標籤</li>
						<li onclick='window.location.href="/CheckProductPartialTag/"''>確認產品標籤</li>
						</ul>
					</div>
				</div>
			
			</li>
            <li class="drop">
            	<a href="#">員工資料</a>
            	<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/ShowNewPersonalData_AddMemberData/"''>新增員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyMemberBrandData_ModifyBrandData/"''>顯示員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyUserTokenData_UserTokenData/"''>顯示員工打卡資料</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">排班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Plan_Work_Schedule_MultipleDirectPageToAddEmployeeWorkSchedule/"''>新增員工多天排班</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByList/"''>顯示單月員工排班列表</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_AdjustWorkSchedule/"''>調整員工排班狀況</li>
						<li onclick='window.location.href="/Show_CheckHaveScheduleButNoWork/"''>顯示有排班無上班</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">上班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/QR_codeSan_CheckEveryMonthWorkStatus/"''>顯示單月員工上班狀況</li>
						<li onclick='window.location.href="/QR_codeSan_AdjustOnlineStatus/"''>調整員工上班時間</li>
						<li onclick='window.location.href="/PrintMonthSalary_CheckBackupAddLateStatus/"''>顯示單月加班遲到狀況</li>
						<li onclick='window.location.href="/Show_CheckHaveWorkButNoSchedule/"''>顯示有上班無排班</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">同步相關</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Sync_OriginAndBackupOnlineOffline/"''>同步本月上班</li>
						<li onclick='window.location.href="/Sync_OriginAndBackupWorkSchedule/"''>同步本月排班</li>
						<li onclick='window.location.href="/Sync_CheckHaveWorkButNoSchedule/"''>同步本月有上班無排班</li>
						<li onclick='window.location.href="/Sync_CheckHaveScheduleButNoWork/"''>同步本月有排班無上班</li>
						<li onclick='window.location.href="/Sync_AddLateWorkTimeCalculate_result/"''>同步本月加班遲到</li>
<!-- 						<li onclick='window.location.href="/Sync_CalculateMonthSalary_MonthCalculate/"''>同步本月薪水</li> -->
						</ul>
					</div>
				</div>
			</li>
			<li class="drop">
				<a href="#">備份資料</a>
				<div class="dropdownContain">
					<div class="dropOut">
						<ul>
						<li onclick='window.location.href="/Backup_CheckOriginDataByDay/"''>上班備份資料</li>
						<li onclick='window.location.href="/CheckBackupScheduleData/"''>排班備份資料</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="drop">
				<a href="#">財務資訊</a>
				<div class="dropdownContain">
					<div class="dropOut">
					</div>
				</div>
			</li>
		</ul>
</div>
</div>
	<div class="date">
		<form action="/PrintMonthSalary_CheckBackupAddLateStatus/" method="GET">
			<select name="checkPeriodYear">
				<option value="2016">2016</option><option selected value="2017">2017</option>
			</select>
			<select name="checkPeriodMonth">
				<option value="01">1</option><option  value="02">2</option>
				<option value="03">3</option><option  value="04">4</option>
				<option value="05">5</option><option  value="06">6</option>
				<option value="07">7</option><option  value="08">8</option>
				<option selected value="09">9</option><option  value="10">10</option>
				<option value="11">11</option><option  value="12">12</option>
			</select>
			<select name="checkName">
			<%  for(var i=0; i<member.length; i++) {%>
				<option value=<%= member[i].name %>><%= member[i].name %></option>
			<% } %>
				<option selected value="全部">全部</option>
			</select>
			<button type="submit">查詢資料</button>
		</form>	
	</div> 
	<div class='table'>
	<ul>
		<li>
		  <span> 唯一碼 </span>
		  <span> 員工碼 </span>
	      <span> 員工姓名 </span>
	      <span> 日期 </span>  
	      <span> 排班時間 </span> 
	      <span> 上班時間 </span> 
	      <span> 加班時數 </span> 
	      <span> 遲到時數 </span> 
	      <span> 計薪確認 </span> 	
	      <span> 比數 </span> 
	    </li>
	</ul>
	</div>   
	<div class='table_second'>
	<%  var index=0;%>     	      	      
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
			  <span><%= passvariable[i].uniID %></span>
		      <span><%= passvariable[i].name %></span>
		      <span><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></span>
		      <span><%= passvariable[i].onlinehour +':'+ passvariable[i].onlineminute+'-'+passvariable[i].offlinehour +':'+ passvariable[i].offlineminute %></span>
		      <span><%= passvariable[i].realonlinehour +':'+ passvariable[i].realonlineminute+'-'+ passvariable[i].realofflinehour +':'+ passvariable[i].realofflineminute%></span>
		      <span><%= passvariable[i].addtime %></span>
		      <span><%= passvariable[i].latetime %></span>
		      <span><%= passvariable[i].countcheck %></span>
		      <%
		      	  if(i>=1)
		      	  {
			      	  if(passvariable[i-1].name == passvariable[i].name)
			      	  {
			      	  	index=index+1;
			      	  }
			      	  else
			      	  {
			      	  	index =1;
			      	  }
		      	  }
		      	  else{index =1;}
		      %>
		      <span> <%= index %> </span> 
		</li>
	</ul>
	<% } %>
	</div>	

</body>
</html>