<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>確認產品標籤</title>
  <link href="/css/StockInAndOut/checkproductpartialtag.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

	<div class='PrePartialTag'>
	<ul>
		<li>
	      <span> 時間碼 </span>
	      <span> 品牌名稱 </span>
	      <span> 產品名稱 </span>
	      <span> 產品標籤 </span>  
	      <span> 產品分類 </span>  
	      <span> 產品細項 </span>  
	      <span> 產品等級 </span>   
		</li>
	</ul>
	</div>   
	<div class='PostPartialTag'>
	<% for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
		  <span><%= passvariable[i].TID %></span>
		  <span><%= passvariable[i].brandname %></span>
	      <span><%= passvariable[i].product %></span>
	      <span><%= passvariable[i].tag %></span>
	      <span><%= passvariable[i].class %></span>
	      <span><%= passvariable[i].subclass %></span>
	      <span><%= passvariable[i].grade %></span>
		</li>
	</ul>
	<% } %>
	</div>	
</body>
</html>
