<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>確認排班狀況</title>
  <script src="dateselect.js"></script>
  <link href="/css/WorkSchedule/planworkschedulecheckemployeeworkschedulebylist.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<div class="CheckWorkSchedule">
	<form action="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByList/" method="GET">
		<select name="checkPeriodYear" id="month">
			<option selected value="2017" name="checkPeriodYear">2017</option>
		</select>
		<select name="checkPeriodMonth" id="year">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option value="08">08</option>
			<option selected value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<button type="submit">查詢</button>
	</form>	 
</div>
<div class='PreCheckWorkSchedule'>
	<ul>
		<li>
		  <span> 時間碼 </span>
	      <span> 唯一碼 </span>
	      <span> 品牌名稱 </span>  
	      <span> 品牌地點 </span> 
	      <span> 姓名 </span> 
	      <span> 日期 </span> 
	      <span> 上班 </span> 
	      <span> 下班 </span> 
	      <span> 檢查 </span> 
	      <span> 比數 </span> 
	    </li>
	</ul>
</div>   
<div class='PostCheckWorkSchedule'>
	<%  var index=0;%>
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
		      <span><%= passvariable[i].uniID %></span>
		      <span><%= passvariable[i].userbrandname  %></span>
		      <span><%= passvariable[i].userbrandplace %></span>
		      <span><%= passvariable[i].name %></span>
			  <span><%= passvariable[i].workyear%>/<%= passvariable[i].workmonth %>/<%= passvariable[i].workday  %></span>
		      <span><%= passvariable[i].onlinehour %>:<%= passvariable[i].onlineminute %></span>
		      <span><%= passvariable[i].offlinehour %>:<%= passvariable[i].offlineminute %></span>     
		      <%  var duplicateCheck = 0; 
				  for(var j=0; j<passvariable.length; j++) {

		      			if( passvariable[i].name == passvariable[j].name && passvariable[i].workyear == passvariable[j].workyear && passvariable[i].workmonth == passvariable[j].workmonth && passvariable[i].workday == passvariable[j].workday)
		      			{
		      				if(passvariable[i].status != passvariable[j].status)
		      				{
		      					duplicateCheck = duplicateCheck + 1;		      					
		      				}
		      			}
		      	  }
		      	  if(i>=1)
		      	  {
			      	  if(passvariable[i-1].name == passvariable[i].name)
			      	  {
			      	  	index=index+1;
			      	  }
			      	  else
			      	  {
			      	  	index =1;
			      	  }
		      	  }
		      	  else{index =1;}		      	
		      %>
		      <span><%= duplicateCheck %></span>
		      <span><%= index %></span>
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>