<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckEveryMonthWorkStatus</title>
  <script src="dateselect.js"></script>
  <link href="/css/planworkschedulecheckemployeeworkschedulebylist.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navcont">
<div class="nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li class="drop">
				<a href="#">庫存相關</a>
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/CheckProductInStock/"''>確認現有庫存</li>
						<li onclick='window.location.href="/AddProductPartialTag/"''>新增庫存標籤</li>
						<li onclick='window.location.href="/CheckProductPartialTag/"''>確認產品標籤</li>
						</ul>
					</div>
				</div>
			
			</li>
            <li class="drop">
            	<a href="#">員工資料</a>
            	<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/ShowNewPersonalData_AddMemberData/"''>新增員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyMemberBrandData_ModifyBrandData/"''>顯示員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyUserTokenData_UserTokenData/"''>顯示員工打卡資料</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">排班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Plan_Work_Schedule_MultipleDirectPageToAddEmployeeWorkSchedule/"''>新增員工多天排班</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByList/"''>顯示單月員工排班列表</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_AdjustWorkSchedule/"''>調整員工排班狀況</li>
						<li onclick='window.location.href="/Show_CheckHaveScheduleButNoWork/"''>顯示有排班無上班</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">上班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/QR_codeSan_CheckEveryMonthWorkStatus/"''>顯示單月員工上班狀況</li>
						<li onclick='window.location.href="/QR_codeSan_AdjustOnlineStatus/"''>調整員工上班時間</li>
						<li onclick='window.location.href="/PrintMonthSalary_CheckBackupAddLateStatus/"''>顯示單月加班遲到狀況</li>
						<li onclick='window.location.href="/Show_CheckHaveWorkButNoSchedule/"''>顯示有上班無排班</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">同步相關</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Sync_OriginAndBackupOnlineOffline/"''>同步本月上班</li>
						<li onclick='window.location.href="/Sync_OriginAndBackupWorkSchedule/"''>同步本月排班</li>
						<li onclick='window.location.href="/Sync_CheckHaveWorkButNoSchedule/"''>同步本月有上班無排班</li>
						<li onclick='window.location.href="/Sync_CheckHaveScheduleButNoWork/"''>同步本月有排班無上班</li>
						<li onclick='window.location.href="/Sync_AddLateWorkTimeCalculate_result/"''>同步本月加班遲到</li>
<!-- 						<li onclick='window.location.href="/Sync_CalculateMonthSalary_MonthCalculate/"''>同步本月薪水</li> -->
						</ul>
					</div>
				</div>
			</li>
			<li class="drop">
				<a href="#">備份資料</a>
				<div class="dropdownContain">
					<div class="dropOut">
						<ul>
						<li onclick='window.location.href="/Backup_CheckOriginDataByDay/"''>上班備份資料</li>
						<li onclick='window.location.href="/CheckBackupScheduleData/"''>排班備份資料</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="drop">
				<a href="#">財務資訊</a>
				<div class="dropdownContain">
					<div class="dropOut">
					</div>
				</div>
			</li>
		</ul>
</div>
</div>
<div class="date">
	<form action="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByList/" method="GET">
		<select name="checkPeriodYear" id="month">
			<option selected value="2017" name="checkPeriodYear">2017</option>
		</select>
		<select name="checkPeriodMonth" id="year">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option  value="07">07</option><option value="08">08</option>
			<option selected value="09">09</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<button type="submit">查詢</button>
	</form>	 
</div>
	<div class='table'>
	<ul>
		<li>
		  <span> 時間碼 </span>
	      <span> 唯一碼 </span>
	      <span> 品牌名稱 </span>  
	      <span> 品牌地點 </span> 
	      <span> 姓名 </span> 
	      <span> 日期 </span> 
	      <span> 上班 </span> 
	      <span> 下班 </span> 
	      <span> 檢查 </span> 
	      <span> 比數 </span> 
	    </li>
	</ul>
	</div>   
	<div class='table_second'>
	<%  var index=0;%>
	<%  for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			  <span><%= passvariable[i].TID %></span>
		      <span><%= passvariable[i].uniID %></span>
		      <span><%= passvariable[i].userbrandname  %></span>
		      <span><%= passvariable[i].userbrandplace %></span>
		      <span><%= passvariable[i].name %></span>
			  <span><%= passvariable[i].workyear%>/<%= passvariable[i].workmonth %>/<%= passvariable[i].workday  %></span>
		      <span><%= passvariable[i].onlinehour %>:<%= passvariable[i].onlineminute %></span>
		      <span><%= passvariable[i].offlinehour %>:<%= passvariable[i].offlineminute %></span>     
		      <%  var duplicateCheck = 0; 
				  for(var j=0; j<passvariable.length; j++) {

		      			if( passvariable[i].name == passvariable[j].name && passvariable[i].workyear == passvariable[j].workyear && passvariable[i].workmonth == passvariable[j].workmonth && passvariable[i].workday == passvariable[j].workday)
		      			{
		      				if(passvariable[i].status != passvariable[j].status)
		      				{
		      					duplicateCheck = duplicateCheck + 1;		      					
		      				}
		      			}
		      	  }
		      	  if(i>=1)
		      	  {
			      	  if(passvariable[i-1].name == passvariable[i].name)
			      	  {
			      	  	index=index+1;
			      	  }
			      	  else
			      	  {
			      	  	index =1;
			      	  }
		      	  }
		      	  else{index =1;}		      	
		      %>
		      <span><%= duplicateCheck %></span>
		      <span><%= index %></span>
		</li>
	</ul>
	<% } %>
	</div>	

</body>
</html>