<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<table border='1'>
	<tbody>
	      <td> 唯一碼 </td>
	      <td> 裝置識別碼 </td>
	      <td> 打卡標籤 </td>
	      <td> 員工姓名 </td>  
	      <td> 狀態 </td>  


	<% for(var i=0; i<passvariable.length; i++) {%>
		<tr>
	      <td><%= passvariable[i].uniID %></td>
	      <td><%= passvariable[i].deviceid %></td>
	      <td><%= passvariable[i].usertoken %></td>
	      <td><%= passvariable[i].name %></td>
	      <td><%= passvariable[i].status %></td>
	  <% } %>
	</tr>
	</tbody>
	</table>

</body>
</html>
