<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/MemberData/modifymemberbranddata.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<div class='PreModifyMemberData'>
	<ul>
		<li>
			<span>唯一碼</span>
			<span >員工姓名</span>
			<span>職稱</span>
			<span>品牌</span>
			<span>地點</span>
			<span>基本底薪</span>
			<span>伙食獎金</span>
			<span>全勤獎金</span>
			<span>職稱獎金</span>
			<span>額外獎金</span>
			<span>勞健保</span>
			<span>修改</span>
		</li>
	</ul>
</div>
<div class='PostModifyMemberData'>
	<% for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
			<span><%=passvariable[i].uniID %></span>
			<span><%=passvariable[i].name %></span>
			<span><%=passvariable[i].userbrandtitle%></span>
			<span><%=passvariable[i].userbrandname%></span>
			<span><%=passvariable[i].userbrandplace %></span>
			<span><%=passvariable[i].usermonthsalary%></span>
			<span><%=passvariable[i].userfoodsalary%></span>
			<span><%=passvariable[i].userwithoutsalary%></span>
			<span><%=passvariable[i].usertitlesalary%></span>
			<span><%=passvariable[i].userextrasalary%></span>
			<span><%=passvariable[i].userlawsalary%></span>	
		  	<span>
			  <form action="/ShowAndModifyMemberBrandData_UpdateBrandData/" method="POST">
	      	  <input type="hidden" placeholder="UniqueID" name="uniID" value=<%= passvariable[i].uniID %>>
		      <input type="hidden" placeholder="name" name="name" value=<%= passvariable[i].name %>>
 
		      <select name="updatechoose">
			  <option value="員工職稱">員工職稱</option><option value="品牌名稱">品牌名稱</option>
			  <option value="工作地點">工作地點</option><option value="基本月薪">基本月薪</option>
			  <option value="伙食獎金">伙食獎金</option><option value="全勤獎金">全勤獎金</option>
			  <option value="職稱獎金">職稱獎金</option><option value="額外獎金">額外獎金</option>
			  <option value="勞健保">勞健保</option>
		      </select>
	      	  <input type="text" placeholder="修改內容" name="content" value="">
		      <button type="submit">更新</button>
		      </form>
			</span>
		</li>
	</ul>
	<% } %>
</div>			

</body>
</html>
