<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/MemberData/showandmodifyusertokendata.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>

<div class='PreModifyUserTokenData'>
	<ul>
		<li>
	      <span> 唯一碼 </span>
	      <span> 裝置識別碼 </span>
	      <span> 打卡標籤 </span>
	      <span> 員工姓名 </span>  
	      <span> 狀態 </span>  
		</li>
	</ul>
</div>   
<div class='PostModifyUserTokenData'>
	<% for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
	      <span><%= passvariable[i].uniID %></span>
	      <span><%= passvariable[i].deviceid %></span>
	      <span><%= passvariable[i].usertoken %></span>
	      <span><%= passvariable[i].name %></span>
	      <span><%= passvariable[i].status %></span>
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>
