<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/WorkStatus/showhaveworkbutnoschedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>
<div class='PreHaveWorkButNoSchedule'>
	<ul>
		<li>
	      <span> 時間碼 </span>
	      <span> 唯一碼 </span>
	      <span> 員工姓名 </span> 
	      <span> 年 </span> 
	      <span> 月 </span> 
	      <span> 日 </span> 	      	     
	      <span> 狀態 </span>
		</li>
	</ul>
</div>   
<div class='PostHaveWorkButNoSchedule'>  
	  <% for(var i=0; i<passvariable.length; i++) {%>
	<ul>
		<li>
		  <span><%= passvariable[i].TID %></span>
	      <span><%= passvariable[i].uniID %></span>
	      <span><%= passvariable[i].name %></span>
	      <span><%= passvariable[i].Year %></span>
	      <span><%= passvariable[i].Month %></span>
	      <span><%= passvariable[i].Day %></span>	      	      	    
	      <span><%= passvariable[i].status %></span>
		</li>
	</ul>
	<% } %>
</div>	

</body>
</html>
