<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plan_Work_Schedule_UseCheckBoxByAddEmployeeWorkSchedule</title>
  <link href="/css/usecheckboxbyaddemployeeworkschedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navcont">
<div class="nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li class="drop">
				<a href="#">庫存相關</a>
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/CheckProductInStock/"''>確認現有庫存</li>
						<li onclick='window.location.href="/AddProductPartialTag/"''>新增庫存標籤</li>
						<li onclick='window.location.href="/CheckProductPartialTag/"''>確認產品標籤</li>
						</ul>
					</div>
				</div>
			
			</li>
            <li class="drop">
            	<a href="#">員工資料</a>
            	<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/ShowNewPersonalData_AddMemberData/"''>新增員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyMemberBrandData_ModifyBrandData/"''>顯示員工基本資料</li>
						<li onclick='window.location.href="/ShowAndModifyUserTokenData_UserTokenData/"''>顯示員工打卡資料</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">排班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Plan_Work_Schedule_MultipleDirectPageToAddEmployeeWorkSchedule/"''>新增員工多天排班</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByList/"''>顯示單月員工排班列表</li>
						<li onclick='window.location.href="/Plan_Work_Schedule_AdjustWorkSchedule/"''>調整員工排班狀況</li>
						<li onclick='window.location.href="/Show_CheckHaveScheduleButNoWork/"''>顯示有排班無上班</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">上班狀況</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/QR_codeSan_CheckEveryMonthWorkStatus/"''>顯示單月員工上班狀況</li>
						<li onclick='window.location.href="/QR_codeSan_AdjustOnlineStatus/"''>調整員工上班時間</li>
						<li onclick='window.location.href="/PrintMonthSalary_CheckBackupAddLateStatus/"''>顯示單月加班遲到狀況</li>
						<li onclick='window.location.href="/Show_CheckHaveWorkButNoSchedule/"''>顯示有上班無排班</li>
						</ul>
					</div>
				</div>
			
			</li>
			<li class="drop">
				<a href="#">同步相關</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						
						<ul>
						<li onclick='window.location.href="/Sync_OriginAndBackupOnlineOffline/"''>同步本月上班</li>
						<li onclick='window.location.href="/Sync_OriginAndBackupWorkSchedule/"''>同步本月排班</li>
						<li onclick='window.location.href="/Sync_CheckHaveWorkButNoSchedule/"''>同步本月有上班無排班</li>
						<li onclick='window.location.href="/Sync_CheckHaveScheduleButNoWork/"''>同步本月有排班無上班</li>
						<li onclick='window.location.href="/Sync_AddLateWorkTimeCalculate_result/"''>同步本月加班遲到</li>
<!-- 						<li onclick='window.location.href="/Sync_CalculateMonthSalary_MonthCalculate/"''>同步本月薪水</li> -->
						</ul>
					</div>
				</div>
			</li>
			<li class="drop">
				<a href="#">備份資料</a>
				<div class="dropdownContain">
					<div class="dropOut">
						<ul>
						<li onclick='window.location.href="/Backup_CheckOriginDataByDay/"''>上班備份資料</li>
						<li onclick='window.location.href="/CheckBackupScheduleData/"''>排班備份資料</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="drop">
				<a href="#">財務資訊</a>
				<div class="dropdownContain">
					<div class="dropOut">
					</div>
				</div>
			</li>
		</ul>
</div>
</div>
<div class="form-style-8">
<h2>添加單月多筆排班</h2>
	<form action="/Plan_Work_Schedule_UseCheckBoxByAddEmployeeWorkSchedule/" method="POST">
		<span>姓名</span>
		<select name=" ">
		<%  for(var i=0; i<member.length; i++) {%>
			<option value=<%= member[i].name %>><%= member[i].name %></option>
		<% } %>
			<option selected value="全部">全部</option>
		</select>
		<span>年份</span>
		<select name="checkPeriodYear">
			<option value="2016">2016</option>
			<option selected value="2017">2017</option>
		</select>
		<span>月份</span>
		<select name="checkPeriodMonth">
			<option value="01">01</option><option  value="02">02</option>
			<option value="03">03</option><option  value="04">04</option>
			<option value="05">05</option><option  value="06">06</option>
			<option value="07">07</option><option  value="08">08</option>
			<option value="09">09</option><option selected value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<span>上班時間</span>
		<select name="checkPeriodOnlineHour">
			<option value="1">1</option><option  value="2">2</option>
			<option value="3">3</option><option  value="4">4</option>
			<option value="5">5</option><option  value="6">6</option>
			<option value="7">7</option><option  value="8">8</option>
			<option value="9">9</option><option  selected value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
			<option value="13">13</option><option  value="14">14</option>
			<option value="15">15</option><option  value="16">16</option>
			<option value="17">17</option><option  value="18">18</option>
			<option value="19">19</option><option  value="20">20</option>
			<option value="21">21</option><option  value="22">22</option>
			<option value="23">23</option><option  value="24">24</option>
		</select>
		<select name="checkPeriodOnlineMinute">
			<option selected value="00">00</option><option  value="15">15</option>
			<option value="30">30</option><option  value="45">45</option>
		</select>
		<span>下班時間</span>
		<select name="checkPeriodOfflineHour">
			<option value="1">1</option><option  value="2">2</option>
			<option value="3">3</option><option  value="4">4</option>
			<option value="5">5</option><option  value="6">6</option>
			<option value="7">7</option><option  value="8">8</option>
			<option value="9">9</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
			<option value="13">13</option><option  value="14">14</option>
			<option value="15">15</option><option  value="16">16</option>
			<option value="17">17</option><option  value="18">18</option>
			<option value="19">19</option><option  value="20">20</option>
			<option value="21">21</option><option selected value="22">22</option>
			<option value="23">23</option><option  value="24">24</option>
		</select>
		<select name="checkPeriodOffineMinute">
			<option selected value="00">00</option><option  value="15">15</option>
			<option value="30">30</option><option  value="45">45</option>
		</select>
		<span>排班日期</span>
		<div class='inner'>
		<% for(var i=1;i<32;i++){ %>
  			<% if( i < 10 ){ %>
  			<label>
  				<input type="checkbox" name="checkbox0<%=i%>" check="<%=i%>">0<%=i%>	
  			</label>  	
  			<% }else{%>
  			<label>
  				<input type="checkbox" name="checkbox<%=i%>" check="<%=i%>"><%=i%>
  			</label>
  			<%} %>
  			<!-- <% if( i == 15 || i == 31 ){ %><br><% } %> -->
		<%}%>
		</div>
		<input type="submit" value="新增">
	</form>	 
</div>
</body>
</html>