<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plan_Work_Schedule_UseCheckBoxByAddEmployeeWorkSchedule</title>
  <link href="/css/WorkSchedule/usecheckboxbyaddemployeeworkschedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
     <% include ./html.ejs %>
</header>
<div class="form-style-8">
<h2>添加單月多筆排班</h2>
	<form action="/Plan_Work_Schedule_UseCheckBoxByAddEmployeeWorkSchedule/" method="POST">
		<span>姓名</span>
		<select name="checkName">
		<%  for(var i=0; i<member.length; i++) {%>
			<option value=<%= member[i].name %>><%= member[i].name %></option>
		<% } %>
			<option selected value="全部">全部</option>
		</select>
		<span>年份</span>
		<select name="checkPeriodYear">
			<option selected value=<%= year %>><%= year %></option>
			<%  for(var i=0; i<3; i++) {%>
			<option value=<%= parseInt(year,10)+i %>><%= parseInt(year,10)+i %></option>
			<% } %>
		</select>
		<span>月份</span>
		<select name="checkPeriodMonth">
			<option selected value=<%= month %>><%= month %></option>
			<%  for(var i=1; i<13; i++) {%>
			<%  if(i<10){ i = '0'+i; } %>
			<option value=<%= i %>><%= i %></option>
			<% } %>
		</select>
		<span>上班時間</span>
		<select name="checkPeriodOnlineHour">
			<option value="1">1</option><option  value="2">2</option>
			<option value="3">3</option><option  value="4">4</option>
			<option value="5">5</option><option  value="6">6</option>
			<option value="7">7</option><option  value="8">8</option>
			<option value="9">9</option><option  selected value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
			<option value="13">13</option><option  value="14">14</option>
			<option value="15">15</option><option  value="16">16</option>
			<option value="17">17</option><option  value="18">18</option>
			<option value="19">19</option><option  value="20">20</option>
			<option value="21">21</option><option  value="22">22</option>
			<option value="23">23</option><option  value="24">24</option>
		</select>
		<select name="checkPeriodOnlineMinute">
			<option selected value="00">00</option><option  value="15">15</option>
			<option value="30">30</option><option  value="45">45</option>
		</select>
		<span>下班時間</span>
		<select name="checkPeriodOfflineHour">
			<option value="1">1</option><option  value="2">2</option>
			<option value="3">3</option><option  value="4">4</option>
			<option value="5">5</option><option  value="6">6</option>
			<option value="7">7</option><option  value="8">8</option>
			<option value="9">9</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
			<option value="13">13</option><option  value="14">14</option>
			<option value="15">15</option><option  value="16">16</option>
			<option value="17">17</option><option  value="18">18</option>
			<option value="19">19</option><option  value="20">20</option>
			<option value="21">21</option><option selected value="22">22</option>
			<option value="23">23</option><option  value="24">24</option>
		</select>
		<select name="checkPeriodOffineMinute">
			<option selected value="00">00</option><option  value="15">15</option>
			<option value="30">30</option><option  value="45">45</option>
		</select>
		<span>排班日期</span>
		<div class='inner'>
		<% for(var i=1;i<32;i++){ %>
  			<% if( i < 10 ){ %>
  			<label>
  				<input type="checkbox" name="checkbox0<%=i%>" check="<%=i%>">0<%=i%>	
  			</label>  	
  			<% }else{%>
  			<label>
  				<input type="checkbox" name="checkbox<%=i%>" check="<%=i%>"><%=i%>
  			</label>
  			<%} %>
		<%}%>
		</div>
		<input type="submit" value="新增">
	</form>	 
</div>
</body>
</html>